<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cristik.business.dao.LogMapper" >
  <resultMap id="BaseResultMap" type="com.cristik.business.entity.svo.Log" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="userid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="createdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="operation" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cristik.business.entity.svo.Log" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into log (id, userid, createdate, 
      content, operation)
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{createdate,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cristik.business.entity.svo.Log" >
    update log
    set userid = #{userid,jdbcType=BIGINT},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, userid, createdate, content, operation
    from log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userid, createdate, content, operation
    from log
  </select>
</mapper>